<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services" type="Microsoft.Web.Services.Configuration.WebServicesConfiguration, Microsoft.Web.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="SecurityTokens" type="TestAppLibs.SecurityTokensReader, TestAppLibs" />
    <section name="Actions" type="TestAppLibs.ActionsReader, TestAppLibs" />
    <section name="Messages" type="TestAppLibs.MessagesReader, TestAppLibs"/>
  </configSections>
  <appSettings>
    <add key="MailServerDomain" value="wsemail.ws" />
    <add key="MailServer" value="http://localhost/WSEmailServer/MailServer.asmx" />
	<add key="SigningCertificate" value="CapricornKevin" />
	<add key="Purchasing-Address" value="Purchasing@Capricorn" />
	<add key="POs-Address" value="POs@Capricorn" />
	<add key="DnsServer" value="blackwood.cis.upenn.edu" />
	<add key="Threads" value="5" />
	<add key="Cycles" value="2" />
  </appSettings>
  <SecurityTokens>
	<Token name="X509" type="X509" weight="0">
		<Store>System</Store>
		<CertCN>Capricorn</CertCN>
	</Token>
	<Token name="Password" type="UsernamePassword" weight="0">
		<Username>kevin</Username>
		<Password>superbuh</Password>
	</Token>
	<Token name="Password" type="UsernamePassword" weight="0">
		<Username>buh</Username>
		<Password>buh</Password>
	</Token>
  </SecurityTokens>
  <Actions>
	<Action name="ListHeaders" type="ListHeaders" weight="1" />
	<Action name="SendMessage" type="SendMessage" weight="1" />
	<Action name="SendIM" type="SendIM" weight="0" />
	<Action name="DeleteMessage" type="DeleteMessage" weight="0" />
  </Actions>
  <Messages>
	<Message weight="1">
		<Recipients>
			<Recipient>kevin@capricorn</Recipient>
		</Recipients>
		<Subject size="32" ></Subject>
		<Body size="1000"></Body>
	</Message>
  </Messages>
  <microsoft.web.services>
    <security>
      <x509 storeLocation="CurrentUser" />
      <binarySecurityToken type="FederatedBinaryToken.FederatedToken, FederatedBinaryToken" xmlns:prefix="http://securitylab.cis.upenn.edu/FederatedBinaryToken" valueType="prefix:FederatedBinaryToken" />
    </security>
  </microsoft.web.services>
</configuration>