<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services" type="Microsoft.Web.Services.Configuration.WebServicesConfiguration, Microsoft.Web.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <appSettings>
    <add key="MailServer" value="http://tower/WSEmailServer/MailServer.asmx" />
    <add key="MailServerCommonName" value="MailServerA" />
    <add key="SigningCertificate" value="KevinA" />
    <add key="InstantMessagingPort" value="8888" />
  </appSettings>
  <microsoft.web.services>
    <referral>
    </referral>
    <diagnostics>
      <trace enabled="false" />
    </diagnostics>
    <security>
      <x509 storeLocation="LocalMachine" allowRevocationUrlRetrieval="true" verifyTrust="true" allowTestRoot="true" />
    </security>
    <filters>
      <input>
      </input>
      <output>
      </output>
    </filters>
  </microsoft.web.services>
</configuration>