<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services" type="Microsoft.Web.Services.Configuration.WebServicesConfiguration, Microsoft.Web.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="RoutingTable" type="WSERoutingTable.RouterConfigurationReader,RoutingTable" />
  </configSections>
  <RoutingTable>
    <options>
      <add key="requireCertificates" value="1" />
    </options>
	 <routes>
      <route src="*" dest="*" router="http://tower/Default.asmx" accept="1" />
      <route src="" dest="MailServerA" router="http://tower/WSEMailServer/MailServer.asmx" accept="1" />
      <route src="*" dest="MailServerB" router="http://tower/WSEMailServer2/MailServer.asmx" accept="1" />
    </routes>
  </RoutingTable>
  <appSettings>
    <add key="SigningCertificate" value="TheClient2" />
    <add key="UnSecuredService" value="http://localhost/SignedRouterServices/Unsecured.asmx" />
  </appSettings>

  <microsoft.web.services>
    <referral>
      <cache name="../../referralCache.config" />
    </referral>
    <diagnostics>
      <trace enabled="true" input="inputTrace.webinfo" output="outputTrace.webinfo" />
    </diagnostics>
    <security>
      <x509 storeLocation="LocalMachine" allowRevocationUrlRetrieval="true" verifyTrust="true" allowTestRoot="true" />
    </security>
    <filters>
      <input>
      </input>
      <output>
      </output>
    </filters>
  </microsoft.web.services>
</configuration>