<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services" type="Microsoft.Web.Services.Configuration.WebServicesConfiguration, Microsoft.Web.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="microsoft.web.services2" type="Microsoft.Web.Services2.Configuration.WebServicesConfiguration, Microsoft.Web.Services2, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <appSettings>
    <add key="MailServer" value="http://localhost/WSEmailServer/MailServer.asmx" />
    <add key="AddressBookServer" value="http://tower.cis.upenn.edu/WSEmailServer/MailServer.asmx" />
	<add key="SigningCertificate" value="CapricornKevin" />
	<add key="Purchasing-Address" value="Purchasing@Capricorn" />
	<add key="POs-Address" value="POs@Capricorn" />
	<add key="DnsServer" value="158.130.6.202" />
  </appSettings>
  <microsoft.web.services>
    <security>
      <x509 storeLocation="CurrentUser" />
      <binarySecurityToken type="FederatedBinaryToken.FederatedToken, FederatedBinaryToken" xmlns:prefix="http://securitylab.cis.upenn.edu/FederatedBinaryToken" valueType="prefix:FederatedBinaryToken" />
    </security>
  </microsoft.web.services>
    <microsoft.web.services2>
  <security>
	<binarySecurityTokenManager valueType="http://securitylab.cis.upenn.edu/FederatedBinaryToken:FederatedBinaryToken" type="FederatedBinaryToken.WSEFederatedTokenManager, FederatedBinaryToken" />
  </security>
</microsoft.web.services2>

</configuration>