<?xml version="1.0" encoding="us-ascii"?>
<configuration>
  <configSections>
    <section name="Database" type="PennLibraries.DatabaseConfigurationReader,PennLibraries" />
  </configSections>
  <Database>
    <connections value="5" />
    <username value="wsemail" />
    <password value="superbuh" />
    <server value="158.130.6.202\server" />
    <database value="MailServerAMail" />
  </Database>
  <appSettings>
    <add key="DeliveryQueue" value="WSEmailServer.MessageQueue" />
    <add key="DatabaseManager" value="WSEmailServer.DatabaseManager" />
    <add key="LocalMTA" value="WSEmailServer.LocalMTA" />
    <add key="MessageAccessor" value="WSEmailServer.MessageAccessor" />
    <add key="MailServerName" value="Capricorn" />
    <add key="MailRouter" value="http://tower/WSEMailRouter/Router.ashx" />
    <add key="SigningCertificate" value="Capricorn" />
    <add key="DNSServer" value="tm76pc2" />
    <add key="IgnoreDynamicFormVersioning" value="true" />
    <add key="ForceLibraryLoadDirectory" value="C:\Inetpub\wwwroot\WSEMailServer\bin\" />
  </appSettings>
</configuration>