<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="microsoft.web.services" type="Microsoft.Web.Services.Configuration.WebServicesConfiguration, Microsoft.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>

  <system.web>
    <httpHandlers>
      <add verb="*" path="Issuer.ashx" type="Microsoft.Web.Services.Security.SecureConversation.SecurityContextTokenService, Microsoft.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpHandlers>
    <webServices>
      <soapExtensionTypes>
        <add type="Microsoft.Web.Services.WebServicesExtension, Microsoft.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" priority="1" group="0" />
      </soapExtensionTypes>
    </webServices>
  </system.web>

  <microsoft.web.services>
    <security>
      <x509 allowTestRoot="false" allowRevocationUrlRetrieval="true" verifyTrust="true" />
    </security>
    <tokenIssuer>
      <serverToken> 
        <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#" xmlns:wsse="http://schemas.xmlsoap.org/ws/2002/12/secext">
          <wsse:SecurityTokenReference>
            <!-- Replace the identifier below with your own certificate Id in Base64String here 
                 The certificate is from the Local Machine store's Personal folder, and the certificate
                 Id can be retrieved by X509Certificate Tool                                       -->
            <wsse:KeyIdentifier ValueType="wsse:X509v3">zKrwrpc10aOxTSffix8GmjvyGWE=</wsse:KeyIdentifier>
          </wsse:SecurityTokenReference>
        </KeyInfo> 
      </serverToken> 
    </tokenIssuer> 
  </microsoft.web.services>
</configuration>