<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services" type="Microsoft.Web.Services.Configuration.WebServicesConfiguration, Microsoft.Web.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <microsoft.web.services>
    <security>
      <x509 storeLocation="LocalMachine" allowTestRoot="true" verifyTrust="false" />
    </security>
  </microsoft.web.services>
</configuration>