<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services2" type="Microsoft.Web.Services2.Configuration.WebServicesConfiguration, Microsoft.Web.Services2, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <appSettings>
    <add key="Server" value="tcp://tower.cis.upenn.edu:9999/Config" />
  </appSettings>
  <microsoft.web.services2>
    <security>
      <x509 allowRevocationUrlRetrieval="false" />
    </security>
    <diagnostics />
  </microsoft.web.services2>
</configuration>