<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
	<section name="microsoft.web.services" type="Microsoft.Web.Services.Configuration.WebServicesConfiguration, Microsoft.Web.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <appSettings>
    <add key="MailServer" value="http://localhost/WSEmailServer/MailServer.asmx" />
    <add key="SigningCertificate" value="CapricornKevin" />
    <add key="Purchasing-Address" value="Purchasing@Capricorn" />
    <add key="POs-Address" value="POs@Capricorn" />
  </appSettings>

  <microsoft.web.services>
    <security>
      <binarySecurityToken type="FederatedBinaryToken.FederatedToken, FederatedBinaryToken" xmlns:prefix="http://securitylab.cis.upenn.edu/FederatedBinaryToken" valueType="prefix:FederatedBinaryToken" />
    </security>
  </microsoft.web.services>
</configuration>
